<div id="top-splash" class="transparent-section">
  <div class="parallax">
    <div class="parallax-image" style="background-image: url(/images/denver-kitchen-remodel.jpg);">
    </div>
  </div>
</div>
<div id="site-slogan">
  <h2>For All Your Home & Remodel Needs!</h2>
  <a class="action-button">Contact Us!</a>
</div>
<div id="about-us" class="bg-green">
  <h2>About Us</h2>
</div>
<div id="residential">
  <h2>Residential</h2>
</div>
<div id="contact-us">
  <h2>Contact Us</h2>
</div>
