<div id="top-splash" class="transparent-section">
  <div class="parallax">
    <div class="parallax-image" style="background-image: url(/images/portfolio/painter/painter_1.jpg);">
    </div>
  </div>
</div>
<div class="image-container">
  <img id="logo-background" src="/images/9ad66e5c4d_Logo-01.png">
</div>
<div id="site-slogan">
  <h3 class="tc white">For All Your Home & Remodel Needs!</h3>
  <a class="action-button f3">Contact Us!</a>
</div>
<div id="about-us" class="bg-green pa5 white">
  <div class="tl">
  <h2 class="white tc">About Us</h2>
    <p>Everything is awesome! Everything is cool when you're part of a team! Everything is awesome, everything is cool when your part of a team
    Everything is awesome, when you're living out a dream.
    </p>
    <p>Everything is better when we stick together
    Some have said you and I are gonna win forever?
    Lets party forever
    We're the same unlike you, you're like me we're all working in harmony
    </p>
    <p>
    Everything is awesome, everything is cool when your part of a team
    Everything is awesome, when you're living out a dream
    </p>
    <p>
    Woo! 3, 2, 1, go!
    Have you heard the news? Everyone's talkin'
    Life is good 'cause everything awesome
    Lost my job, there's a new opportunity
    More free time for my awesome community
    I feel more awesome than an awesome possum
    Dip my body in chocolate frostin'
    Three years later wash off the frostin'
    Smellin' like a blossom, everything is awesome
    Stepped in mud, got new brown shoes
    It's awesome to win and it's awesome to lose
    </p>
    <p>
    Everything is better when we stick together
    Side by side, you and I gonna win forever?
    Let's party forever
    We're the same unlike you, you're like me we're all working in harmony
    </p>
    <p>
    Everything is awesome, everything is cool when your part of a team
    Everything is awesome, when you're living out a dream
    </p>
    <p>
    Blue skies, bouncy springs, we just named a few awesome things
    A Nobel prize, a piece of string
    You know what's awesome? Everything!
    Dogs with fleas, allergies
    A book of Greek antiquities
    Brand new pants, a very old vest
    Awesome items are the best
    Trees, (frogs), clogs, they're awesome
    Rocks, clocks, and socks, they're awesome
    Figs, and jigs, and twigs, that's awesome
    Everything you see or think or say is awesome
    </p>
    <p>
    Everything is awesome, everything is cool when your part of a team
    Everything is awesome, when you're living out a dream.
    </p>
  </div>
</div>
<div class="bg-white green overflow-auto pa5" id="residential">
  <h2 class="tc">Residential</h2>
  <ul class="flex w-100 justify-center ml0 pl0">
    <li class="ml3">Interior</li>
    <li class="ml4">Bath</li>
    <li class="ml4">Kitchen</li>
    <li class="ml4">Basement</li>
    <li class="ml4">Exterior</li>
    <li class="ml4">Deck</li>
  </ul>
</div>
<div class="white bg-green pa5" id="contact-us">
  <h2>Contact Us</h2>
  <p>12345 Hire Us Today Drive</p>
  <p>Email Us Today at <a href="mailto:pjm966@gmail.com">pjm966@gmail.com</a></p>
</div>
