<div style="background">
   <h1 class="site-slogan">Enter Catchy Slogan Here!</h1>
</div>
<div id="about-us">
  <h2>About Us</h2>
</div>
<div id="residential">
  <h2>Residential</h2>
</div>
<div id="contact-us">
  <h2>Contact Us</h2>
</div>
