<div class="portfolio-main">
  <h1>PJM Portfolio</h1>
</div>

<div class="portfolio-container flex flex-wrap">
  {% for project in site.data.portfolio %}
    <div class="project">
      <h3 class="project-title">{{ project.title }}</h3>
      <div class="project-date">{{ project.date }}</div>
      <div class="image-container">
        <img src="{{ project.image }}" />
      </div>
    </div>
    {% else %}
    <div>There are no projects!</div>
  {% endfor %}
</div>
